body {
  background-image: url(https://cdn.dribbble.com/users/211312/screenshots/5571571/media/259d5fb0420af92e0add87fc479e4437.jpg?resize=400x300&vertical=center);
  background-attachment: fixed
}

h1, h2, p {
  text-align: center;
  color: #FFFFFF;
}

.bod {
  width: 100;
  background-color: #d3deed;
  margin-left: auto;
  margin-right: auto;
}
hr {
  height: 50;
  width: 80;
  border-radius: 25;
  background-color: #000000;
  padding: 20;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #000000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14 16;
  text-decoration: none;
  font-size: 17;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #000000;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
