body {
  background-image: url(https://cdn.dribbble.com/users/211312/screenshots/5571571/media/259d5fb0420af92e0add87fc479e4437.jpg?resize=400x300&vertical=center);
}

h1, h2, p {
  text-align: center;
}

.bod {
  width: 100;
  background-color: d3deed;
  margin-left: auto;
  margin-right: auto;
}
hr {
  height: 50;
  width: 80;
  border-radius: 25;
  background-color: 000000;
  padding: 20;
}
